<%- include("partials/header") %>

<div class="container mbody">
  <% if(success && success.length>0) {%>
  <div class="alert alert-success d-flex">
      <%=success%>
  </div>
  <br>
  <% } %>
  <% if(error && error.length>0) {%>
  <div class="alert alert-danger d-flex">
      <%=error%>
  </div>
  <br>
  <% } %>
    <div class="row justify-content-center">
      <div class="col-md-9 justify-content-center">
        <h1 class="h3 text-center mb-5">Add a new password</h1>
        <form action="/passwords/add" method="POST"> 
              <div class="form-group row justify-content-center">
                <label for="iname" class="col-3 col-form-label">Item Name<span class="imp">*</span></label> 
                <div class="col-5">
                  <input id="iname" name="iname" placeholder="E.g. Book" class="form-control here" required="required" type="text">
                </div>
              </div>
              <div class="form-group row justify-content-center">
                <label for="itemid" class="col-3 col-form-label">Item ID<span class="imp">*</span></label> 
                <div class="col-5">
                  <input id="itemid" name="itemid" placeholder="E.g. 122840" required="required" class="form-control here" type="text">
                </div>
              </div>
              <div class="form-group row justify-content-center">
                <label for="icount" class="col-3 col-form-label">Item count</label> 
                <div class="col-5">
                  <input id="icount" name="icount" placeholder="E.g. 20" class="form-control here" type="text">
                </div>
              </div>
              <div class="form-group row justify-content-center">
                <label for="location" class="col-3 col-form-label">Location</label> 
                <div class="col-5">
                  <input id="location" name="location" placeholder="E.g. Jaluguti Warehouse" class="form-control here" type="text">
                </div>
              </div>
              <div class="form-group row justify-content-center">
                <label for="itype" class="col-3 col-form-label">Type<span class="imp"></span></label> 
                <div class="col-5">
                  <select id="itype" name="itype" class="custom-select">
                    <option value="Grocery"> Grocery </option>
                    <option value="Furniture"> Furniture </option>
                    <option value="Electronics"> Electronics </option>
                    <option value="Other"> Other </option>
                  </select>
                </div>
              </div> 
              <div class="form-group row justify-content-center">
                <div class="offset-4 col-3">
                  <button name="submit" type="submit" class="btn btn-primary">Add item</button>
                </div>
              </div>
        </form>
      </div>
  
    </div>
</div>



<%- include("partials/footer") %>
